
<!DOCTYPE html>
<html>
<head>
<title>Character Creation</title>
</head>
<body>
<h1>Character Creation</h1>
<form action="/character_creation" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="race">Race:</label>
<select name="race" id="race">
<option value="human">Human</option>
<option value="elf">Elf</option>
<option value="dwarf">Dwarf</option>
<option value="halfling">Halfling</option>
<option value="gnome">Gnome</option>
</select>
<br>
<label for="class_">Class:</label>
<select name="class_" id="class_">
<option value="fighter">Fighter</option>
<option value="rogue">Rogue</option>
<option value="wizard">Wizard</option>
<option value="cleric">Cleric</option>
<option value="druid">Druid</option>
</select>
<br>
<label for="alignment">Alignment:</label>
<select name="alignment" id="alignment">
<option value="lawful good">Lawful Good</option>
<option value="neutral good">Neutral Good</option>
<option value="chaotic good">Chaotic Good</option>
<option value="lawful neutral">Lawful Neutral</option>
<option value="neutral">Neutral</option>
<option value="chaotic neutral">Chaotic Neutral</option>
<option value="lawful evil">Lawful Evil</option>
<option value="neutral evil">Neutral Evil</option>
<option value="chaotic evil">Chaotic Evil</option>
</select>
<br>
<label for="strength">Strength:</label>
<input type="number" name="strength" id="strength">
<br>
<label for="dexterity">Dexterity:</label>
<input type="number" name="dexterity" id="dexterity">
<br>
<label for="constitution">Constitution:</label>
<input type="number" name="constitution" id="constitution">
<br>
<label for="intelligence">Intelligence:</label>
<input type="number" name="intelligence" id="intelligence">
<br>
<label for="wisdom">Wisdom:</label>
<input type="number" name="wisdom" id="wisdom">
<br>
<label for="charisma">Charisma:</label>
<input type="number" name="charisma" id="charisma">
<br>
<label for="athletics">Athletics:</label>
<input type="number" name="athletics" id="athletics">
<br>
<label for="intimidation">Intimidation:</label>
<input type="number" name="intimidation" id="intimidation">
<br>
<label for="perception">Perception:</label>
<input type="number" name="perception" id="perception">
<br>
<label for="weapon">Weapon:</label>
<input type="text" name="weapon" id="weapon">
<br>
<label for="armor">Armor:</label>
<input type="text" name="armor" id="armor">
<br>
<label for="shield">Shield:</label>
<input type="text" name="shield" id="shield">
<br>
<label for="backpack">Backpack:</label>
<input type="text" name="backpack" id="backpack">
<br>
<label for="bedroll">Bedroll:</label>
<input type="text" name="bedroll" id="bedroll">
<br>
<input type="submit" value="Create Character">
</form>
</body>
</html>

